<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CURD</title>
    <link rel="stylesheet" href="{% static 'MyApp2/css/bootstrap.css' %}">
</head>
<body style="background-color: aquamarine;">
 <div class=" container mt-5 ">
    <h2 class="text-center alert alert-danger">Function based view modelForm CURD project</h2>
    {% block content %} {% endblock content %}
</div>
<script src="{% static 'MyApp2/js/jquery.js'%}"></script>
<script src="{% static 'MyApp2/js/popper.js'%}"></script>
<script src="{% static 'MyApp2/js/bootstrap.js'%}"></script>
</body>
</html>